<div class="top-section">
  <div class="container">

    <div class="name-and-work">

      <div class="row my-name">
          <h1>Brendan Brown</h1>
      </div>

      <div class="row work">
        <h3>Web Developer</h3>
      </div>

      <div class="social-icons">
        <ul class="list-inline">
          <li><a class="waves-effect waves-light" target="_blank" id="linked_in_button" href="https://www.linkedin.com/in/brendan-brown-7b5243105">
            <div class="linked-image"></div>
          </a></li>
          <li><a class="waves-effect waves-light" target="_blank" id="github_button" href="https://github.com/byendan">
            <div class="git-image"></div>
          </a></li>
        </ul>
      </div>

    </div>

  </div>
</div>


<div class="about-area">
  <div class="container">

    <% if @about_text != nil %>
      <div class="row">
        <h1 class="about-title"><%= @about_text.label %></h1>
      </div>
      <div class="row">
        <p class="about-text"><%= @about_text.text %></p>
      </div>
    <% end %>

  </div>
</div>

<div class="skills-area">
  <div class="container">

    <div class="row">
      <h1>Skills</h1>
    </div>

    <div class="row skill-boxes">
      <% @tags.each do |tag| %>

        <div class="col s2 skill-box">
          <div class="skill-box-img">
            <img src="<%= tag.image %>" >
          </div>
          <div class="skill-box-name">
            <p><%= tag.name %></p>
          </div>
        </div>

      <% end %>
    </div>

  </div>
</div>

<div class="projects-area">
  <div class="container">
    <div class="row">
      <h1>Projects</h2>
    </div>

    <div class="row project-boxes">


      <% @projects.each do |project| %>
       <a class="waves-effect waves-light modal-trigger col s3" href="#modal<%= project.id %>">
          <div class=" project-box">
              <div class="project-box-img">
                <img src="<%= project.image %>">
              </div>
              <div class="project-box-name">
                <p class="center-align" ><%= project.name %></p>
              </div>
          </div>
        </a>

        <div id="modal<%= project.id %>" class="modal">
          <div class="modal-content">
            <div class="project-modal-head row">
                <div class="col s3 modal-img">
                  <img src="<%= project.image %>">
                </div>
                <div class="col s6 project-name-and-links">
                  <div class="row modal-project-name">
                    <h3><%= project.name %></h3>
                  </div>
                  <div class="row modal-website-link">
                    <%= link_to("Website: #{project.site}", "#{project.site}", target: "_blank") %>
                  </div>
                  <div class="row modal-github-link">
                    <%= link_to("Github: #{project.github}", "#{project.github}", target: "_blank") %>
                  </div>
                </div>

            </div>
            <div class="row modal-content-area">
              <p><%= project.content %></p>
            </div>


          </div>
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
          </div>
        </div>
      <% end %>
    </div>


  </div>
</div>


<div class="footer">
  <a href="http://www.freepik.com/free-photos-vectors/background">Background vector designed by Freepik</a>
  <% if current_user %>
    <div class="btn btn-primary btn-lg logout-button"><%= link_to "Logout", sign_out_path, method: "delete" %></div>
    <div class="btn btn-primary btn-lg dash-link"><%= link_to "Dashboard", dashboard_path %></div>
  <% end %>
</div>
