<div class="project-form">
  <%= form_for(Tag.new, html: { multipart: true }, remote: true) do |f| %>
      <%= f.text_field :name, placeholder: "Tag name", class: "form-control" %>
      <%= f.text_area :content, placeholder: "Tag Description", rows: 15, class: "form-control" %>
      <%= f.file_field :image %>
    <div class="project-button">
      <%= f.submit "Post", class: "btn btn-primary "%>
    </div>
  <% end %>
</div>
