<div class="project-form">
  <%= form_for(@project_load, html: { multipart: true }, remote: true) do |f| %>
      <%= f.text_field :name, placeholder: "Project name", class: "form-control" %>
      <%= f.text_area :content, placeholder: "Project Description", rows: 15, class: "form-control" %>
      <%= f.file_field :image %>
      <h3>Current image</h3>
      <%= image_tag(@project_load.image, size: "100x100") %>
      <%= f.text_field :github, placeholder: "#{@project_load.github}", class: "form-control" %>
      <%= f.text_field :site, placeholder: "#{@project_load.site}", class: "form-control" %>
    <div class="project-button">
      <%= f.submit "Post", class: "btn btn-primary "%>
    </div>
    <div class="delete-project">
      <%= button_to "delete", @project_load, :method => :delete, remote: true %>
    </div>
  <% end %>
</div>
